

.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 35px;
    padding: 20px 25px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search__input > input{
    flex: 1;
    height: 25px;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}

.search__input > input:focus{
    outline-width: 0;
}

.search__inputIcon{
    color: gray;
}

.search__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    
}

.search__buttons button{
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
}

.search__buttons button:hover{

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search__buttonHindden{
    display: none !important;
}

@media screen and (max-width: 600px) {
   
   .search__input{
    width: 90vw;
   }
  }
@media screen and (max-width: 380px) {
   
   .search__input > input::placeholder{
    font-size: 12px;
   }
   .search__input{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
   }
   
   .search__inputIcon{
    margin-left: 2px;
   }
  }