.homePage__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: transparent;
  cursor: pointer;
 
  margin: -5px auto !important; 
  /* overflow-x: scroll; */
}

.homePage__icon:hover {
  background-color: rgb(243, 245, 249);
}

.homePage__icon {
  width: 100px;
  height: 100px;
  gap: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  justify-content: center;
}

.homepage__imageDiv{
    height: 40px;
    width: 40px;
    background: rgb(208, 210, 210);
    border-radius: 50%;
}

.homePage__icon img {
  border-radius: 50%;
 
  align-items: center !important;
  display: flex;
  margin: auto;
  margin-top: 24%;
}

.icon__url {
  text-decoration: none;
  color: black;
}

.icon__url:hover{
  text-decoration: underline;
}
.homePage__icon
.icon__url p{
  font-weight: 100;
}

@media screen and (max-width: 380px) {
.homePage__icons{
  grid-template-columns: 2fr 2fr;
  gap: auto;
  align-items: center;
  /* max-width: 80vh; */
  width: 50vh;
  z-index: 100;
  margin-right: -30px;
  /* position: relative; */
  /* margin-left: 23vh; */
 /* align-content: center; */
  /* padding: 3vh auto; */
 /* place-items: center !important; */
}
.homePage__icon{
  /* margin-right: -100px !important; */
  display: flex !important;
  justify-content: center;
}
}
