
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css?lang=en&family=Product+Sans|Roboto:400,700');.gb_8a:not(.gb_Pd) {
  font: 13px/27px Roboto,Arial,sans-serif;
  z-index: 986
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}